<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<ul>
  <li><a href="/user/<%= userId %>/done-tasks">Task Cadence</a></li>
  <li><a href="https://www5.v1host.com/FH-V1/Member.mvc/Summary?oidToken=<%= userId %>">V1 User Page</a></li>
</ul>


</body>
</html>