body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: DarkBlue

stripe(even = #fff, odd = #eee)
  tr
    background-color odd
  tr.even
  tr:nth-child(even)
    background-color even

table
  .warning
    background-color: #fa8072;
  thead
    font-weight: bold;
  stripe #fff #eee

task-id-column-width = 10em
task-name-column-width = 32em
task-todo-column-width = 4em
task-status-column-width = 8em
task-change-column-width = 8em
task-parent-column-width = 32em
task-owners-column-width = 16em
tasks-for-users-extra-width = 0em
tasks-for-users-total-width = task-id-column-width + task-name-column-width + task-todo-column-width + task-status-column-width + task-change-column-width + task-parent-column-width + task-owners-column-width + tasks-for-users-extra-width

.tasks-page
  table.tasks-for-users
    table-layout: fixed
    width: tasks-for-users-total-width

  .tasks-for-users .task-name-column
    width: task-name-column-width

  .tasks-for-users .task-todo-column
    width: task-todo-column-width

  .tasks-for-users .task-status-column
    width: task-status-column-width

  .tasks-for-users .task-change-column
    width: task-change-column-width

  .tasks-for-users .task-parent-column
    width: task-parent-column-width

  .tasks-for-users .task-owners-column
    width: task-owners-column-width

atask-id-column-width = 10em
atask-name-column-width = 22em
atask-status-column-width = 8em
atask-change-column-width = 8em
atasks-for-users-extra-width = 0em
atasks-for-users-total-width = atask-id-column-width + atask-name-column-width + atask-status-column-width + atask-change-column-width + atasks-for-users-extra-width

.all-tasks-page
  table.tasks-for-users
    table-layout: fixed
    width: atasks-for-users-total-width

  .tasks-for-users .task-name-column
    width: atask-name-column-width

  .tasks-for-users .task-status-column
    width: atask-status-column-width

  .tasks-for-users .task-change-column
    width: atask-change-column-width


/*!
 * Styles for the tasks-completed-daily-for-one-user report.
 */

table.user-task-cadence
  $color1 = lighten(#A19A82, 50%)
  $color2 = lighten(#8CBA53, 50%)
  $color1a = lighten($color1, 25%)
  $color2a = lighten($color2, 25%)
  tr td
    page-break-inside: avoid
  tr.even-day
    background-color $color1
  tr.even-day.even
  tr.even-day:nth-child(even)
    background-color $color1a
  tr.odd-day
    background-color $color2
  tr.odd-day.even
  tr.odd-day:nth-child(even)
    background-color $color2a

/*!
 * End styles for the tasks-completed-daily-for-one-user report.
 */

.datepicker
  font-size: 18px
  label, [type=submit]
    height: 18px
  input
    font-size: 16px
  [type=submit]
    font-size: 16px
  .reset
    font-size: 14px
    margin-left: 10px
  .reset:before
    content: "|"
    display: inline-block
    margin: 0 5px 0 -10px
    pointer-events: none

#print-subheading
  display: none

@media print
  body
    padding-top: 0
  .datepicker
    display: none
  #print-subheading
    display: block

