body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: DarkBlue;
}
table .warning {
  background-color: #fa8072;
}
table thead {
  font-weight: bold;
}
table tr {
  background-color: #eee;
}
table tr.even,
table tr:nth-child(even) {
  background-color: #fff;
}
.tasks-page table.tasks-for-users {
  table-layout: fixed;
  width: 110em;
}
.tasks-page .tasks-for-users .task-name-column {
  width: 32em;
}
.tasks-page .tasks-for-users .task-todo-column {
  width: 4em;
}
.tasks-page .tasks-for-users .task-status-column {
  width: 8em;
}
.tasks-page .tasks-for-users .task-change-column {
  width: 8em;
}
.tasks-page .tasks-for-users .task-parent-column {
  width: 32em;
}
.tasks-page .tasks-for-users .task-owners-column {
  width: 16em;
}
.all-tasks-page table.tasks-for-users {
  table-layout: fixed;
  width: 48em;
}
.all-tasks-page .tasks-for-users .task-name-column {
  width: 22em;
}
.all-tasks-page .tasks-for-users .task-status-column {
  width: 8em;
}
.all-tasks-page .tasks-for-users .task-change-column {
  width: 8em;
}
/*
 * Styles for the tasks-completed-daily-for-one-user report.
 */
table.user-task-cadence tr.even-day {
  background-color: #d0cdc1;
}
table.user-task-cadence tr.even-day.even,
table.user-task-cadence tr.even-day:nth-child(even) {
  background-color: #dcdad1;
}
table.user-task-cadence tr.odd-day {
  background-color: #c6dda9;
}
table.user-task-cadence tr.odd-day.even,
table.user-task-cadence tr.odd-day:nth-child(even) {
  background-color: #d4e5bf;
}
/*
 * End styles for the tasks-completed-daily-for-one-user report.
 */
